@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;

    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;

    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;

    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;

    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
}

* {
    box-sizing: border-box;
}



body {
    
    margin: 0px;

    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
}
.container {
    width: 87.85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header {
    width: 100%;
    min-height: 650px;
    margin: 0px;
    padding: 0px 0px 30px 0px;

    background: #3375c5 url(../img/antarctica.jpg) no-repeat center;
    background-size: cover;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 192px;
    padding: 35px 0px 0px;
}
.logo__logo-link:hover {
    opacity: 0.5;
}
.header-logo {
    flex:1 1 auto;
    margin-right:20px;
}
.menu__link:hover {
    opacity: 0.5;
}
.cruises__card-link:hover {
    opacity: 0.5;
}
.menu__list {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 0px;
    padding: 0px;

    list-style: none;
}
.menu__item:not(:last-child) {
    margin-right: 34px;
}

.menu__link {
    margin: 0px;
    padding: 0px;

    text-decoration: none;

    color: #f9fbfd;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.header__content {
    display: flex;
    flex-direction: column;

    padding: 0px 0px 0px 95px;
}
.header__title {
    margin: 0px 0px 10px 0px;

    color: #f9fbfd;

    font-size: 54px;
    font-weight: bold;
    line-height: 66px;
}
.header__text {
    margin: 0px;
    padding: 0px;

    color: #f9fbfd;

    font-size: 20px;
    font-weight: normal;
    line-height: 150%;
}

.footer {
    display: flex;

    width: 100%;
    min-height: 138px;
    padding: 0px;
    padding: 50px 0px;

    background-color: #011c40;
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__leftpart {
    display: flex;
    align-items: center;

    margin-right: auto;
}

.footer__logo {
    margin-right: 40px;
}

.social__img {
    display: inline-block;
}
.social-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 118px;
    min-height: 44px;
    margin: 0px;
    padding: 5px 0 5px;

    list-style-type: none;
}
.social__item:not(:last-child) {
    margin-right: 33px;
}
.social__img-instagram::before {
    display: block;

    width: 20px;
    height: 20px;

    content: "";

    background: url(../img/instagram.svg) no-repeat;
    background-size: contain;
}

.social__img-facebook::before {
    display: block;

    width: 11px;
    height: 20px;

    content: "";

    background: url(../img/facebook.svg) no-repeat;
    background-size: contain;
}
.social__img:hover {
    opacity: 0.5;
}

.social__img-twitter::before {
    display: block;

    width: 20px;
    height: 16px;

    content: "";

    background: url(../img/twitter.svg) no-repeat;
    background-size: contain;
}


.trip__img {
    flex:1 1 301px;
    width: auto;
    max-width: 100%;
    height: auto;
}
.trip__content {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    min-height: 541px;
    padding: 118px 0px;
}
.trip__text {
    display: flex;
    flex-basis: 46%;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0px 0px 0px;
    margin-right: 30px;

    line-height: 150%;
}

.title {
    margin: 0px;
    margin-bottom: 58px;
    padding: 0px;

    color: #011c40;

    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}
.trip__description {
    margin: -35px 0px 0px;
}

.capitalize {
    text-transform: capitalize;
}

.advantages {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 562px;
    padding: 90px 0px 90px;

    background: #cfe4fb url(../img/advantages.jpg) no-repeat center;
    background-size: cover;
}

.advantages__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 0px 0px 0px;
}
.advantages__items {
    display: flex;
    
    
    justify-content: center;
}
.advantages__item {
    position: relative;

   
    max-width: 360px;
    min-height: 241px;
    margin: 0px 0px 30px 0px;
    padding: 82px 25px 25px 30px;

    list-style: none;

    background-color: #f9fbfd;
}
.advantages__item:not(:last-child) {
    margin-right: 40px;
}
.advantages__content ul {
    margin: 0px;
    padding: 0px;
}

.advantages__img-boat::before {
    position: absolute;
    top: 30px;

    width: 27px;
    height: 32px;

    content: "";

    background: url(../img/boat.svg) no-repeat;
    background-size: contain;
}

.advantages__img-ticks::before {
    position: absolute;
    top: 35px;

    width: 38px;
    height: 21px;

    content: "";

    background: url(../img/ticks.svg) no-repeat;
    background-size: contain;
}
.advantages__title {
    margin: 20px 0px -9px;
    padding: 0px;
}
.cruises__title {
    text-align:center;
    margin: 20px 0px -9px;
    padding: 0px;
}
.advantages__img-speedboat::before {
    position: absolute;
    top: 38px;

    width: 42px;
    height: 15px;

    content: "";

    background: url(../img/speedboat.svg) no-repeat;
    background-size: contain;
}
.advantages__item-title {
    margin: 0px 0px 7px 0px;
    padding: 0px;

    color: #011c40;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.advantages__item-text {
    margin: 0px;
    padding: 0px;

    color: #011c40;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}

.advantages__item-text_speedboat-narrow {
    padding-right:43px;
}
.advantages__item-text_ticks-narrow {
    padding-right:10px;
}
.cruises {
    min-height: 1123px;
    padding: 90px 0px;
}
.cruises__content {
    display: flex;
  
    flex-direction: column;
    justify-content: center;

    
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.cruises__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   
    margin: 0px;
    padding: 0px;
}

.cruises__cards-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

   
    width: 260px;
    min-height: 386px;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
}
.cruises__card-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

 
    width: 260px;
    min-height: 386px;
    padding: 0px 0px 8px 30px;
}

.cruises__card-title {
    margin: 0px 0px 0px 0px;

    color: #f9fbfd;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.cruises__card-img_astoria {
    background: #4d7db7 url(../img/kruize/astoria.jpg) no-repeat center;
    background-size: cover;
}

.cruises__card-img_elain {
    background: #7aa4d2 url(../img/kruize/minion-1.jpg) no-repeat center;
    background-size: cover;
}

.cruises__card-img_atlantis {
    background: #74a2ca url(../img/kruize/atlantis.jpg) no-repeat center;
    background-size: cover;
}

.cruises__card-img_odissey {
    background: url(../img/kruize/odissei.jpg) no-repeat center;
    background-size: cover;
    
}
.cruises__card-img_olimpia {
    background: url(../img/kruize/olimpia.jpg) no-repeat center;
    background-size: cover;
}
.cruises__card-img_avrora {
    background: #6f9ac7 url(../img/kruize/avrora.jpg) no-repeat center;
    background-size: cover;
}
.cruises__card-img_leonor {
    background: #638fc6 url(../img/kruize/leonor.jpg) no-repeat center;
    background-size: cover;
}
.cruises__card-img_minion {
    background: #7aa4d2 url(../img/kruize/minion-1.jpg) no-repeat center;
    background-size: cover;
}

.cruises__card-text {
    position: relative;

    display: none;
    flex-direction: column;
    justify-content: flex-start;

    
    width: 260px;
    min-height: 386px;
    margin: 0px;
    padding: 29px 25px 75px 25px;

    background: #011c40;
}

.cruises__card-title {
    margin: 0px 0px 14px;
}
.cruises__card-text dl {
    margin: 0px;
    padding: 0px;
}
.cruises__card-text dt {
    margin: 0px;
    padding: 0px;

    color: #f9fbfd;

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.cruises__card-text dd {
    margin: 0px;
    padding: 0px;

    color: #d8d8d9;

    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
}
.cruises__card-text dl dd:not(:last-child) {
    margin: 0px 0px 13px 0px;
}
.cruises__card-link {
    position: absolute;
    bottom: 35px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 210px;
    height: 40px;

    list-style: none;

    text-decoration: none;

    color: #011c40;
    background: #f9fbfd;

    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

.cruises__cards-item:hover .cruises__card-text {
    display: flex;
}
.cruises__cards-item:hover .cruises__card-img {
    display: none;
}

.reservation {
    display: flex;
    align-items: center;
    
    min-height:555px;
    width: 100%;
    padding:50px 67px;
   

    background: #e8f0f3 url(../img/reservation.jpg) no-repeat center;
    background-size: cover;
}
.reservation__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    min-height: 455px;
    padding: 0px;
}
.reservation__content-form {
    display: flex;
    flex-direction: column;
    
   
    width: 403px;
    padding: 45px 50px;
    min-height: 455px;
    background: #011c40;
    box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
}
.reservation__content-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
   padding:0px;
}
.reservation__text-title {
    margin: 0px 0px 15px;
    padding: 0px;

    color: #011c40;

    font-size: 40px;
    font-weight: bold;
    line-height: 115%;
}

.reservation__content-text p {
    width: 55%;
    margin: 0px;
    padding: 0px;

    color: #011c40;

    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
}

.form-title {
    margin: 0px 0px 26px 0px;
    padding: 0;

    color: #f9fbfd;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.reservation__content-form
input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 303px;
    height: 43px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 16px;

    color: #011c40;
    border: none;
    background-color: #f9fbfd;

    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
}
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover {
    background: rgb(245, 245, 231);
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    background: rgb(212, 241, 243);
}

.check {
    
    padding-left: 2.2em;
}
.check__input {
    position: absolute;
    width:1px;
    height:1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
}
.check__box {
    position: absolute;
    margin-left:-2.2em;
    width: 1.8em;
    height: 1.8em;
    background-color: #f9fbfd;
}
.check__input:checked + .check__box {
    
    background: #f9fbfd url(../img/checkbox-on.svg) center no-repeat ;
}
.check__input:focus + .check__box {
background-color: rgb(136, 232, 245);
}


.contacts__address {
    color: #011c40;

    font-size: 16px;
    line-height: 150%;
}
.contacts__tel {
    list-style: none;

    text-decoration: none;

    color: #011c40;

    font-size: 16px;
    line-height: 150%;
}
.check {
    display: flex;
    align-items: center;

    margin: 0px 0px 35px;

    cursor: pointer;

    color: #f9fbfd;

    font-size: 10px;
    font-weight: normal;
    line-height: 130%;
}

input[type="submit"]:hover {
    opacity: 0.5;
    border: 1px solid #025d79;
}
input[type="submit"]:focus {
    border: 1px solid #30c6f3;
}
input[type="submit"] {
    width: 303px;
    height: 43px;
    padding: 0px;

    cursor: pointer;

    color: #011c40;
    border: none;
    background: #f9fbfd;

    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 150%;
}







.contacts {
    width: 100%;
    min-height: 535px;

}

.contacts__content {
    display: flex;
    align-items: center;
    padding: 120px 45px;
    
}
.contacts__map {
    position: relative;
    flex:1 0 auto;
    width: 560px;
    height: 306px;
    margin: 0px 100px 0px 0px;
    padding: 0px;

    background: #edede3 url(../img/map.jpg) no-repeat center;
    background-size: cover;
}

.contacts__map-marker {
    width:18px;
    height:22px;
}
.contacts__map-marker_fixed {
    position: absolute;
    right: 292px;
    bottom: 67px;
}

.contacts__text-address {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1 1 50%;
   
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
.contacts__text-title {
    margin: 0px 0px 35px;
    padding: 0px;

    color: #011c40;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.contacts__text-address_marker {
    position: relative;

    margin-bottom: 20px;
    padding-left: 28px;
}

.contacts__text-address_marker::before {
    position: absolute;
    top: 0px;
    left: 0px;
    margin:0px;
    width: 18px;
    height: 22px;

    content: "";

    background: url(../img/location.svg) no-repeat center;
    
}
.contacts__text-address_phone {
    position: relative;

    display: flex;
    align-items: center;

    padding-left: 28px;
}

.contacts__text-address_phone::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    content: "";

    background: url(../img/phone.svg) no-repeat center;
    background-size: contain;
}

.contacts__text-address p {
    display: flex;
    align-items: center;

    margin: 0px;
}















@media (max-width:1023px) {

.title {
    font-size: 26px;
}

.trip__title {
        padding-right: 22px;
}

.header {
        min-height:638px;
        background-image: url(../img/antarctica-med.jpg);
}

.header__top {
    padding-top:28px;
    margin-bottom:217px;
}

.header__content {
    padding-left:0;
}
.container {
        width:93.11%;
        min-width:0
}
.logo__img {
    width:38px;
    height:20px;
}
.menu {
    height:20px;
}
.menu__link {
    font-size:14px;
    font-weight:500;
    line-height: 17px;
}
.footer__menu-link {
    font-size: 12px;
}
.menu__item:not(:last-child) {
    margin-right: 23px;
}

.header__title {
    font-size: 50px;
    line-height: 61px;
}
.header__text {
font-size: 18px;
line-height: 22px;
}

.trip {
    min-height: 464px;
}

.trip__content {
        padding: 90px 0px;
        align-items: center;
        justify-content: center;
        min-height: 264px;
    }

.trip__text {
    margin-right: 30px;
}
.trip__img {
    min-width: 324px;
    min-height: 264px;
}
.trip__description {
    min-width:324px;
    font-size: 16px;
    margin-top:-45px;
}
.advantages {
    padding-top:71px;
    padding-bottom: 80px;

    background-image: url(../img/advantages-med.jpg);
}
.advantages__item {
    min-width:206px;
    min-height: 310px;   
    margin-bottom:17px;
    padding: 69px 12px 25px 20px;
}

.advantages__item-text_speedboat-narrow {
    padding-right:0;
}
.advantages__item:not(:last-child) {
    margin-right: 30px;
}
.contacts__content {
    padding: 100px 0;
    min-height:535px;
}
.contacts__map {
    margin-right:30px;

    background-image: url(../img/map-med.jpg);
    min-width: 324px;
    min-height: 335px;
    max-width: 324px;
    max-height: 335px;
}
.contacts__map-marker_fixed {
    right: 198px;
    bottom: 97px;
}
.contacts__text-title {
    margin: 0px 0px 25px;
}
.reservation {
min-height: 805px;
padding:90px 0;
align-items: flex-start;
background-image: url(../img/reservation-med.jpg);
}
.reservation__content {
    flex-direction: column;
}
.reservation__content-text {
    align-items: center;
    margin-bottom: 50px;
    margin-right: 0px;
}
.reservation__content-text p {
    text-align: center;
}

.reservation__text-title {
    font-size: 34px;
    text-align: center;
}
.social__img-twitter::before {
    width: 16px;
    height: 13px;
}

.social__img-facebook::before {
    width: 9px;
    height: 16px;
}

.social__img-instagram::before {
    width: 16px;
    height: 16px;
}

.social__item:not(:last-child) {
    margin-right: 23px;
}
.footer__logo {
    margin-right: 25px;
}
.social {
    max-width:90px;
}

.advantages__img-boat::before {
    top: 24px;

    width: 21px;
    height: 26px;

}

.advantages__img-ticks::before {
    top: 29px;

    width: 33px;
    height: 19px;

}

.advantages__img-speedboat::before {
    top: 31px;

    width: 38px;
    height: 13px;

}
.cruises {
    min-height:1912px;
    padding: 72px 0;
}
.cruises__cards-item {
    width:309px;
    min-height: 386px;
}

.cruises__card-img {
    width:309px;
    min-height: 386px;
    padding-bottom:14px;
    padding-left:33px;
}
.cruises__card-text {
    width:309px;
    min-height: 386px;
    padding: 29px 35px 75px 35px;

}
.cruises__card-link {
    width: 239px;

}

.footer {
    min-height: 120px;
    padding: 36px 0px;
}
.cruises__card-img_astoria {
    background-image: url(../img/kruize/astoria-med.jpg);
    
}

.cruises__card-img_elain {
    background-image: url(../img/kruize/minion-1-med.jpg);
    
}

.cruises__card-img_atlantis {
    background-image:  url(../img/kruize/atlantis-med.jpg) ;   
}

.cruises__card-img_odissey {
    background-image: url(../img/kruize/odissei-med.jpg);
    
    
}
.cruises__card-img_olimpia {
    background-image: url(../img/kruize/olimpia-med.jpg);
  
}
.cruises__card-img_avrora {
    background-image: url(../img/kruize/avrora-med.jpg) ;
    
}
.cruises__card-img_leonor {
    background-image:  url(../img/kruize/leonor-med.jpg);
   
}
.cruises__card-img_minion {
    background-image:  url(../img/kruize/minion-1-med.jpg) ;
    
}


}

@media (max-width:767px) {

.header {
    min-height:500px;
   
    background-image: url(../img/antarctica-sm.jpg);
}
.header__top {
    padding-top: 20px;
    margin-bottom: 130px;
}
.header__title {
    font-size: 36px;
    line-height: 125%;
}
.header__text {
    font-size: 16px;
    line-height: 140%;
}
.container {
    width:96.88%;
    min-width:0;
    padding:0 10px;
}

.logo__img {
    width:42px;
    height:22px;
}

.trip__content {
    flex-wrap: wrap;
    padding:65px 0;
}

.title {
    font-size: 24px;
    line-height: 150%;
}

.trip__description {
    min-width:290px;
    margin-bottom:35px;
}

.advantages__items {
    flex-direction: column;
    align-items: center;
}
.advantages__item {
    max-width:290px;
    margin-right: 0px;
    margin-bottom: 30px;
    min-height: auto;
    min-width:auto; 
}

.advantages__item:not(:last-child) {
    margin-right: 0px;
}




.cruises {
    padding: 65px 0;
}


.cruises__cards-item {
    width:270px;
    min-height: 386px;
}

.cruises__card-img {
    width:270px;
    min-height: 386px;
    padding-bottom:14px;
    padding-left:25px;
}
.cruises__card-text {
    width:270px;
    min-height: 386px;
    padding: 29px 35px 75px 25px;

}
.cruises__card-link {
    width: 220px;
    height: 40px;
}

.reservation {
    min-height:760px;
    background-image: url(../img/reservation-sm.jpg);
}
.reservation__text-title {
    font-size: 24px;
    line-height: 130%;
}
.reservation__content-text p {
   font-size: 16px;
   line-height: 140%;
    width:262px;
}

.reservation__content-form {
    width:290px;
    min-height: 460px;
    padding:35px 30px;
}

.form-title {
    line-height: 140%;
    text-align: center;
}
.reservation__content-form
input[type="text"],
input[type="tel"],
input[type="email"] {
    width:230px;
    min-height: 43px;
    margin-bottom: 20px;
}
.reservation__content-form 
input[type="submit"] { 
width:230px;
}

.contacts__content {
    flex-direction: column-reverse;
    padding:65px 0;
}

.contacts__text-address_phone {
    margin-bottom:20px;
}

.contacts__map {
    background-image: url(../img/map-sm.jpg);
margin:0;
}

.footer {
    min-height: 283px;
    padding:40px 0;
}

.footer__content {
 

    flex-direction: column;
}
.footer__leftpart {
    flex-direction: column;
}
.menu__list {
    flex-direction: column;
}





}